.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  flex-shrink: 0;
  border-radius: var(--rounded-md, 6px);

  /* text-sm/leading-5/medium */
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-5);
  color: var(--secondary-foreground, #262626);
  border: 1px solid transparent;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
}

/* Variant */

.primary {
  background: var(--primary, #6d28d9);
  color: var(--primary-foreground, #fff);
}

.primary:hover {
  background: var(--primary-hover, #8952e0);
}
.primary:active {
  background: var(--primary-active, #5b21b6);
}

/* .primary:disabled {
} */

.secondary {
  background: var(--secondary, #e5e5e5);
}

.secondary:hover {
  background: var(--secondary-hover, #ccc);
}
.secondary:active {
  background: var(--secondary-active, #a3a3a3);
}

/* .secondary:disabled {
} */

.outline {
  border: 1px solid var(--border, #d4d4d4);
  background: var(--background, #fff);
}

.outline:hover {
  background: var(--background-hover, #e6e6e6);
}
.outline:active {
  background: var(--background-active, #f5f5f5);
}
/* .outline:disabled {
} */

/* Size */
.md {
  height: var(--spacing-10, 40px);
  padding: var(--spacing-2, 8px) var(--spacing-4, 16px);
}

.sm {
  height: var(--spacing-9, 36px);
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
}

.lg {
  height: var(--spacing-11, 44px);
  padding: var(--spacing-2, 8px) var(--spacing-8, 32px);
}

.icon {
  width: var(--spacing-10, 40px);
  height: var(--spacing-10, 40px);
}
