.wrapper {
  display: flex;
  max-width: var(--width-xs, 320px);
  flex-direction: column;
  gap: var(--spacing-2, 8px);
  margin-inline: auto;
}

.tabs {
  display: flex;
  padding: var(--spacing-1, 4px) 0px;
  justify-content: center;
  gap: var(--spacing-8, 32px);
  border-radius: var(--rounded-lg, 8px);
  background: var(--muted, #f5f5f5);

  color: var(--muted-foreground, #525252);
}

.tabs > a {
  border: none;
  width: var(--spacing-24, 96px);
  padding: var(--spacing-1, 4px) var(--spacing-3, 12px);
  text-align: center;
  border-radius: var(--rounded-lg, 8px);
  background: var(--muted, #f5f5f5);
}

a.active {
  background: var(--background, #fff);
  color: var(--muted-foreground, #525252);
  font-weight: 600;
}

.form {
  display: flex;
  padding: var(--spacing-4, 16px) var(--spacing-2, 8px);
  flex-direction: column;
  gap: var(--spacing-4, 16px);
}

.error-message {
  color: var(--danger-border);
  text-align: center;
}
