.wrapper {
  padding: var(--spacing-12, 48px) 0;
}

.title {
  text-align: center;

  /* display-4xl/leading-none/semibold */
  font-family: var(--display);
  font-size: var(--font-4xl);
  font-weight: 600;
  line-height: var(--leading-none);
  margin-bottom: var(--spacing-4);
}

.description {
  text-align: center;

  font-size: var(--font-lg);
  line-height: var(--leading-8);
  margin-bottom: var(--spacing-4);
}
